<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1><%= profile.name %>'s Profile</h1>
<container>
    <% if (characters.length) { %>
      <% characters.forEach(c => { %>
      <table>
        <thead>
          <tr>
            <th>Name:</th>
            <th>Race:</th>
            <th>Class</th>
          </tr>
        </thead>
        <tbody>
        </section>
      </tbody>
    </table>
    <tr>
      <td><%= c.name %></td>
      <td><%= c.race %></td>
      <td><%= c.class %></td>
      <td>
        <a href="/characters/<%= c._id %>">Details</a>
      </td>
    </tr>
    <% }) %>
    <% } else { %>
      <h2>No Characters Yet :(</h2>
      <% } %> 
    </container>
    </main>

<%- include('../partials/footer') %>