<%- include('../partials/html-head') %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@519&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/new.css">

<%- include('../partials/nav') %>


<main>
  <h1>MODIFY CHARACTER</h1>
  <form action="/characters/<%= character._id %>?_method=PUT" method="POST">
    <!-- NAME -->
    <label>
      Character Name:
        <input type="text" name="name" value="<%= character.name %>" placeholder="Ex. Leroy Jenkins" required>
    </label></br>
    <!-- RACE -->
    <label>
      Race:
        <select name="race">
          <option value="<%= character.race %>"><%= character.race %></option>
          <option value="Dragonborn">Dragonborn</option>
          <option value="Dwarf">Dwarf</option>
          <option value="Elf">Elf</option>
          <option value="Gnome">Gnome</option>
          <option value="Half-Elf">Half-Elf</option>
          <option value="Halfling">Halfling</option>
          <option value="Half-Orc">Half-Orc</option>
          <option value="Human">Human</option>
          <option value="Tiefling">Tiefling</option>
        </select>
    </label></br>
    <!-- CLASS -->
    <label>
      Class:
      <select name="class">
        <option value="<%= character.class %>"><%= character.class %></option>
        <option value="Barbarian">Barbarian</option>
        <option value="Bard">Bard</option>
        <option value="Cleric">Cleric</option>
        <option value="Druid">Druid</option>
        <option value="Fighter">Fighter</option>
        <option value="Monk">Monk</option>
        <option value="Paladin">Paladin</option>
        <option value="Ranger">Ranger</option>
        <option value="Rogue">Rogue</option>
        <option value="Sorcerer">Sorcerer</option>
        <option value="Warlock">Warlock</option>
        <option value="Wizard">Wizard</option>
      </select>
    </label></br>
    <!-- AGE -->
    <label>
      Age:
        <input type="number" min="10" max="1000" name="age" placeholder="10-1000"value="<%= character.age %>" required>
    </label></br>
    <!-- ALIGNMENT -->
    <label>
      Alignment:
      <select name="alignment">
        <option value="<%= character.alignment %>"><%= character.alignment %></option>
        <option value="Lawful-Good">Lawful Good</option>
        <option value="Neutral-Good">Neutral Good</option>
        <option value="Chaotic-Good">Chaotic Good</option>
        <option value="Lawful-Neutral">Lawful Neutral</option>
        <option value="True-Neutral">True Neutral</option>
        <option value="Chaotic-Neutral">Chaotic Neutral</option>
        <option value="Lawful-Evil">Lawful Evil</option>
        <option value="Neutral-Evil">Neutral Evil</option>
        <option value="Chaotic-Evil">Chaotic Evil</option>
      </select>
    </label><br>
    <!-- BACKGROUND -->
    <label>
      Background:
      <select name="background">
        <option value="<%= character.background %>"><%= character.background %></option>
        <option value="Acolyte">Acolyte</option>
        <option value="Charlatan">Charlatan</option>
        <option value="CriminalSpy">Criminal/Spy</option>
        <option value="Entertainer">Entertainer</option>
        <option value="Folk Hero">Folk Hero</option>
        <option value="Gladiator">Gladiator</option>
        <option value="GuildArt">Guild Artisan</option>
        <option value="Hermit">Hermit</option>
        <option value="Knight">Knight</option>
        <option value="Noble">Noble</option>
        <option value="Outlander">Outlander</option>
        <option value="Pirate">Pirate</option>
        <option value="Sage">Sage</option>
        <option value="Sailor">Sailor</option>
        <option value="Soldier">Soldier</option>
        <option value="Urchin">Urchin</option>
      </select>
      <a href="https://www.skullsplitterdice.com/blogs/dnd/5e-background-for-dungeons-and-dragons" target="_blank" rel="noopener noreferrer">Click me if you want more information on these backgrounds!
      </a>
    </label><br><br>
    <h2>PERSONALITY</h2>
    <div id="help">
      <!-- PERSOANLITY TRAITS -->
    <h5>Choose 2 personality Traits</h5>
    <div class="help-tip">
      <p> Personality traits are small, simple ways to help you set your character apart from every other character. Your personality traits should tell you something interesting and fun about your character. They should be self-descriptions that are specific about what makes your character stand out.</p>
    </div>
    </div>
    <label>
      trait #1
      <input type="text" name="ptone" value="<%= character.ptone %>"  placeholder="ex. relentless, polite, Easygoing" required>
    </label><br>
    <label>
      trait #2
      <input type="text" name="pttwo" value="<%= character.pttwo %>" placeholder="ex. Nothing can shake my optimistic attitude" required>
    </label><br><br>
    <!-- IDEALS -->
    <div id="help">
      <h5>Describe One ideal that drives your character</h5>
      <div class="help-tip">
        <p>Ideals might answer any of these questions: What are the principles that you will never betray? What would prompt you to make sacrifices? What drives you to act and guides your goals and ambitions? What is the single most important thing you strive for? 

        </p>
      </div>
      </div>
      <label>
        Ideals:
        <textarea rows="3" cols="20" id="title" name="ideals" placeholder="ex. Aspiration, Creativity, Fairness" required><%= character.ideals %></textarea>
      </label><br>
  <!-- BONDS -->
  <div id="help">
    <h5>Create one bond for your character</h5>
    <div class="help-tip">
      <p>
        Bonds represent a character’s connections to people, places, and events in the world. They tie you to things from your background. Bonds might answer any of these questions: Whom do you care most about? To what place do you feel a special connection? What is your most treasured possession? Your bonds might be tied to your class, your background, your race, or some other aspect of your character’s history or personality.
      </p>
    </div>
    </div>
    <label>
      Bonds:
      <textarea rows="3" cols="20" id="title" name="bonds" placeholder="ex. I protect those who cannot protect themselves. " required><%= character.bonds %></textarea>
    </label><br>
  <!-- FLAWS -->
  <div id="help">
    <h5>Choose one Flaw for your Character</h5>
    <div class="help-tip">
      <p>
        Your character’s flaw represents some vice, compulsion, fear, or weakness—in particular, anything that someone else could exploit to bring you to ruin or cause you to act against your best interests. A flaw might answer any of these questions: What enrages you? What’s the one person, concept, or event that you are terrified of? What are your vices?
      </p>
    </div>
    </div>
    <label>
      Flaws:
      <textarea rows="3" cols="20" id="title" name="flaws" placeholder="ex. I have trouble keeping my true feelings hidden. My sharp tongue lands me in trouble. " required><%= character.flaws%></textarea>
    </label><br>
  <!-- SKILLS -->
  <h2>SKILLS</h2>
  <label>
    <h5>select 5 skills your character will be proficient in</h5>
    <p>CMD + Click for MAC</p>
    <p>CTRL + Click for WIN</p>
          <span class="anchor">Select Skills</span>
          <select name="skills" multiple="multiple">
            <option option selected="selected"><%= character.skills %>.</option>
            <option>Athletics</option>
            <option>Acrobatics</option>
            <option>Sleight of Hand</option>
            <option>Stealth</option>
            <option>Arcana</option>
            <option>History</option>
            <option>Investigation</option>
            <option>Nature</option>
            <option>Religion</option>
            <option>Animal Handling</option>
            <option>Insight</option>
            <option>Medicine</option>
            <option>Perception</option>
            <option>Survival</option>
            <option>Deception</option>
            <option>Intimidation</option>
            <option>Performance</option>
            <option>Persuasion</option>
          </select>
        </label>

      <h2 class="addinfo">Additional information</h2>
      <label>
        <textarea rows="5" cols="40" id="title" name="descript"><%= character.descript %></textarea>
      </label><br>
      <div class="d-grid gap-2 col-8 mx-auto">
    <button type="submit" id="create-button" class="btn btn-primary">Save</button>
  </div>
  </form>
  <br><br>
</main>

<%- include('../partials/footer') %>
