<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/selfprofile.css">

<%- include('../partials/nav') %>

<% if (user) { %>
  <a href="/auth/logout">
    <button type="submit">Logout</button>
  </a>
<% } else { %>
  <a href="/auth/google" class="siwg-link">
    <button type="submit" class="siwg">
      <img id="siwg-image" alt="Sign in with Google" />
    </button>
  </a>
<% } %>
<% if (user?.profile.avatar) { %>
  <div>
    <img 
      src="<%= user.profile.avatar %>" 
      alt="<%= user.profile.name %> avatar"
    >
    <% } %>
    <h1><%= user.profile.name %>'s Profile</h1>
  </div>
<container>
  <% if (characters.length) { %>
    <% characters.forEach(c => { %>
  <table>
    <thead>
      <tr>
        <th>Name:</th>
        <th>Race:</th>
        <th>Class</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.race %></td>
        <td><%= c.class %></td>
        <td>
          <a href="/characters/<%= c._id %>">Details</a>
        </td>
      </td>
      </tr>
      <% }) %>
      <% } else { %>
        <h2>No Characters Yet :(</h2>
        <% } %> 
    </tbody>
  </table>
</container>


<%- include('../partials/footer') %>
