<%- include('../partials/html-head') %>


<%- include('../partials/nav') %>

<h1>Profile</h1>
<container>
  <table>
    <thead>
      <tr>
        <th>Name:</th>
        <th>Race:</th>
        <th>Class</th>
      </tr>
    </thead>
    <tbody>
      <% characters.forEach(c => { %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.race %></td>
        <td><%= c.class %></td>
        <td>
          <a href="/characters/<%= c._id %>">Details</a>
        </td>
      </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</container>


<%- include('../partials/footer') %>
