<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<container>
  <table>
    <thead>
      <tr>
        <%# if (character.owner.equals(user?.profile._id)) { %>
          <form action="/characters/<%= characters._id %>/edit" method="GET">
            <button class="btn" type="submit">Edit character</button>
          </form>
          <%# } %>
      </tr>
      <tr>
        <th>Name:</th>
        <th>Race:</th>
        <th>Class:</th>
        <th>Age:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= characters.name %></td>
        <td><%= characters.race %></td>
        <td><%= characters.class %></td>
        <td><%= characters.age %></td>
      </tr>

    </tbody>
  </table>
</container>

<%- include('../partials/footer') %>
